.center {
  text-align: center;
}
.mar-top-10 {
  margin-top: 10px;
}
#container {
  width: 400px;
}
.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container #container {
  width: 400px;
}
.flex-container .flex-item {
  width: 100%;
}
.flex-container .flex-item {
  margin: 5px;
  text-align: center;
}
.flex-container button {
  margin: 5px;
}
.flex-container .progress {
  height: 25px;
}
